<h2>Vos objectifs</h2>
<p>Choissisez vos  3 bonbons objectifs</p>
<mat-list role="list">
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 1</mat-checkbox></mat-list-item>
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 2</mat-checkbox></mat-list-item>
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 3</mat-checkbox></mat-list-item>
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 4</mat-checkbox></mat-list-item>
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 5</mat-checkbox></mat-list-item>
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 6</mat-checkbox></mat-list-item>
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 7</mat-checkbox></mat-list-item>
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 8</mat-checkbox></mat-list-item>
    <mat-list-item role="listitem"><mat-checkbox>Bonbon type 9</mat-checkbox></mat-list-item>
</mat-list>

  <div>
    <p>Personne à contacter en cas d'urgence: </p>
    <input type="text">
  </div>

  <div>
    <button type="submit"  class="btn btn-primary">Submit</button>
  </div>

  <app-joueur></app-joueur>
