@font-face {
    font-family: 'halloween';
    src: url('src/assets/images/halloween/HallowenInline.otf');
}

h1{
    text-align: center;
    color:white;
}

body {
    background-image: url("src/app/img_css/fondecranaccueil.jpg");
    height: 90%;
    color:white;
}

.zonepseudo{
    position: absolute;
    margin-top: 20vmin;
    margin-left: 10vmin;
}

.zonepseudo button {
    position: absolute;
    margin-top: 25vmin;
    margin-left: 33vmin;
    background: orangered;
    color:white;
}

.zonepseudo input {
    position: absolute;
    margin-top: 15vmin;
    margin-left: 20vmin;
    color:white;
}


.buttonchoice h1{
    font-family: "halloween";
    position: absolute;
    margin-top: 60vmin;
    margin-left: 37vmin;
    color:white;
}

.boutonchoix{

    margin-top: 74vmin;
    margin-left: 22vmin;
    background: orangered;
    color:white;
}

.choiceplayer1{
    position: absolute;
    margin-left: 19vmin;
    margin-top:7vmin;
    color:white;
}

.choiceplayer1 h2{
    font-family: "halloween";
}
.choiceplayer1 .puce {
    margin-top: -5vmin;
    color:white;
}

.choiceplayer1 button{
    position:absolute;
    margin-top:22vmin;
    margin-left:40vmin;
    background: orangered;
    color:white;
}

.urgence {
    position: absolute;
    margin-right: 10vmin;
    color:white;
}

.choiceplayer2{
    position: absolute;
    margin-left: 19vmin;
    margin-top:7vmin;
}

.choiceplayer2 .scann {
    position: absolute;
    margin-top:9vmin;
    background: orange;   
    color:white;
}

.choiceplayer2 h2{
    font-family: "halloween";
    color:white;
}

.choiceplayer2 h4{
    color:white;
}