<body>
  <div>
    <div class="apptitle d-flex justify-content-center">
      <h1>CANDY QUEST</h1>
    </div>

    <div>
      <form (ngSubmit)="getPseudo(f)" #f="ngForm" class="zonepseudo">
        <input type="text" #searchValue id="pseudo" placeholder="Pseudo" name="pseudo" ngModel />
        <button type="submit" [disabled]="f.invalid" class="icon">Valider</button>
      </form>
    </div>

    <div class="buttonchoice">
      <h1>Je suis :</h1>
      <button class="btn btn-primary" class="boutonchoix" type="submit" (click)="isPlayerFunction('Joueur')">Joueur</button>
      <button class="btn btn-primary" class="boutonchoix" type="submit" (click)="isPlayerFunction('Donneur')">Donneur</button>
    </div>


    <div *ngIf="isPlayer" class="choiceplayer1">
      <h2>Mon challenge :</h2>
      <mat-list role="list">
        <mat-list-item role="listitem" class="puce">
          <mat-checkbox>Challenge saveurs</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem" class="puce">
          <mat-checkbox>Challenge thème Halloween</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem" class="puce">
          <mat-checkbox>Challenge thème Harry Potter</mat-checkbox>
        </mat-list-item>


      </mat-list>

      <div class="urgence">
        <h5>En cas d'urgence, contacez : </h5>
        <input type="text" placeholder="Nom et Téléphone">
      </div>

      <div>
        <button type="submit" (click)="route('joueur')" class="btn btn-primary" class="submit">Commencer le jeu</button>
      </div>
    </div>

    <div *ngIf="isPlayer == false" class="choiceplayer2">
      <h2>Mes coordonnees</h2>
      <div>
        <form>
          <input type="text" #adresse id="adresse" placeholder="Entrez votre adresse" name="adresse" ngModel />
        </form>
      </div>


      <button class="btn btn-primary" (click)="route('maison')" type="submit" class="scann"> Scanner mes Bonbons </button>
    </div>
  </div>  
</body>