h1{
    text-align: center;
}

body {
    background-image: url("src/app/img_css/fondecranaccueil.jpg");
    height: 90%;
}

.zonepseudo{
    position: absolute;
    margin-top: 20vmin;
    margin-left: 10vmin;
}

.zonepseudo button {
    position: absolute;
    margin-top: 25vmin;
    margin-left: 33vmin;
    background: orangered;
}

.zonepseudo input {
    position: absolute;
    margin-top: 15vmin;
    margin-left: 20vmin;
}


.buttonchoice h1{
    position: absolute;
    margin-top: 55vmin;
    margin-left: 33vmin;
}

.boutonchoix{

    margin-top: 74vmin;
    margin-left: 22vmin;
    background: orangered;
}

.choiceplayer1{
    position: absolute;
    margin-left: 19vmin;
    margin-top:7vmin;
}

.choiceplayer1 .puce {
    margin-top: -5vmin;
}

.choiceplayer1 button{
    position:absolute;
    margin-top:22vmin;
    margin-left:40vmin;
    background: orangered;
}

.urgence {
    position: absolute;
    margin-right: 10vmin;
}

.choiceplayer2{
    position: absolute;
    margin-left: 19vmin;
    margin-top:7vmin;
}

.choiceplayer2 .scann {
    position: absolute;
    margin-top:9vmin;
    background: orange;   
}