<body>

  <h1 class="inventaire">Inventaire</h1>
  <div class="listebonbon">
    <div *ngFor="let l of bonbonDispo" class="listeitem">
      <h3 class="title">{{l.nom}}</h3>
      <button mat-mini-fab (click)="remove(l.nom)" color="warn">X</button>
    </div>
  </div>

  <ng-template #content let-modal>

    <div class="modal-body">
      <img src="src/app/img_css/witch.png" alt="">
      <h3>MichaelJackson_52 arrive !</h3>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>

  <button (click)="open(content)">incoming simulator</button>

</body>