

body {
    background-image: url("src/assets/images/top-halloween-iphone-cell-phone_4.jpg");
    height: 90%;
}

.modal-body {
    color: black;
    background-color: orange;
}

.inventaire {
    background-color: rgba(255, 72, 0, 0.705);
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Ginger;
    font-size: 4em;
    position: absolute;
    margin-top: 35vmin;
    margin-left:25vmin;
    color: white;
    text-shadow: 3px 3px 4px black;
}

.listeitem {
    background-color: rgba(255, 72, 0, 0.705);
    border: solid black;
    border-width:1px;
    border-radius: 20px;
    margin-top:5vmin;
    padding-right:50vmin;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:5vmin;
}

.title {
    font-size: 1.4em;
    font-family: Halloween;
}

body .listebonbon {
    margin-top: 60vmin;
    position: absolute;
}

.listebonbon button {
    position: absolute;
    margin-left: 80vmin;
    margin-top:-6vmin;
    color:white;
}
